[user]
  email = hkawashimajob1992@gmail.com
  name = hotsuma kawashima
[mergetool]
  prompt = false
  keepBackup = false;
  tool = p4merge
[mergetool "p4merge"]
  cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false
[mergetool "meld"]
    cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
[difftool]
  prompt = false
  tool = meld
[difftool "meld"]
  cmd = meld "$LOCAL" "$REMOTE"
[difftool "p4merge"]
  cmd = p4merge "$LOCAL" "$REMOTE"
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false
[alias]
  lg = log --graph --oneline --all
  md = difftool -t meld -d
  mdc = difftool -t meld -d --cached
  pd = difftool -t p4merge
  pdc = difftool -t p4merge --cached
