[user]
  email = hkawashimajob1992@gmail.com
  name = hotsuma kawashima
[mergetool]
  prompt = false
  tool = p4merge
[mergetool "p4merge"]
  cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false
[mergetool "meld"]
    cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
[diff]
  tool = p4merge
[difftool]
  prompt = false
  tool = p4merge
[difftool "p4merge"]
  cmd = p4merge "$LOCAL" "$REMOTE"
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false
[difftool "meld"]
  cmd = meld "$LOCAL" "$REMOTE"
[alias]
  melddiff = difftool -y -d -t meld
  meldmerge = mergetool -y -t meld
