[user]
  email = hkawashimajob1992@gmail.com
  name = hotsuma kawashima
[core]
  editor = vi
[merge]
  tool = p4merge
[mergetool]
  prompt = false
  keepBackup = false;
  tool = p4merge
[mergetool "p4merge"]
  cmd = \"C:/Program Files/Perforce/p4merge.exe\" -le 'unix' -C 'utf8' "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false
[mergetool "meld"]
    cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
[difftool]
  prompt = false
  tool = WinMerge
[difftool "meld"]
  cmd = meld "$LOCAL" "$REMOTE"
[difftool "p4merge"]
  cmd = \"C:/Program Files/Perforce/p4merge.exe\" -le 'unix' -C 'utf8' "$LOCAL" "$REMOTE"
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false
[difftool "WinMerge"]
  path = C:/Program Files (x86)/WinMerge/WinMergeU.exe
  cmd = \"C:/Program Files (x86)/WinMerge/WinMergeU.exe\" -f \"*.*\" -e -u -r \"$LOCAL\" \"$REMOTE\"
[alias]
  lg = log --graph --oneline --all
  pd = difftool -t p4merge
  pdc = difftool -t p4merge --cached
  wd = difftool -t WinMerge -d
  wdc = difftool -t WinMerge -d --cached
